PORT=5001
JWT_SECRET=change_this_secret

MONGO_URI=your_mongodb_connection_string

GOOGLE_API_KEY=your_google_api_key
SHEET_ID=your_google_sheet_id

LIVEKIT_URL=wss://your-livekit-project.livekit.cloud
LIVEKIT_API_KEY=your_livekit_api_key
LIVEKIT_API_SECRET=your_livekit_api_secret